# ==========================================
# HexaMonitor Environment Configuration Template
# ==========================================

# 1. PostgreSQL Database Configurations
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=
PGDATABASE=hexa_monitor
PGSCHEMA=hexa

# 2. FastAPI Application Security
HEXAMONITOR_SECRET_KEY=HM_1b1eb4522af9cf2df17356e013dfdd739d58f5c342f8a2fe8e11fb4ed12bb612

# 3. Server Bind Details
HOST=127.0.0.1
PORT=8000

# 4. Telemetry Default Notifications (Fallback)
DEFAULT_SLACK_WEBHOOK_URL=
